<form>
    <div class="form-group">
      <label for="tai-khoan">Tài khoản:</label>
      <input type="text" class="form-control" id="tai-khoan">
    </div>
    <div class="form-group">
      <label for="mat-khau">Mật khẩu:</label>
      <input type="password" class="form-control" id="mat-khau">
    </div>
    <div class="form-group">
      <label for="ten">Tên:</label>
      <input type="text" class="form-control" id="ten">
    </div>
    <div class="form-group">
      <label for="gioi-tinh">Giới tính:</label>
      <select class="form-control" id="gioi-tinh">
        <option>Nam</option>
        <option>Nữ</option>
        <option>Khác</option>
      </select>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="dia-chi">Địa chỉ:</label>
      <input type="text" class="form-control" id="dia-chi">
    </div>
    <div class="form-group">
      <label for="quyen">Quyền:</label>
      <select class="form-control" id="quyen">
        <option>Admin</option>
        <option>User</option>
        <option>Guest</option>
      </select>
    </div>
  </form>
  